@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  header {
    /* height: 10vh; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 8rem;
  }
  header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .logo a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: bold;
  }
  header .logo li{
    padding: 0rem 1rem;
  }
  li{
    list-style: none;
  }
  header .logo li a {
    text-decoration: none;
    color: black;
    font-size: initial;
    font-weight: initial;
  }
  header nav {
    display: flex;
  }
  header nav li {
    list-style-type: none;
  }
  header nav li a {
    padding: 1rem;
    text-decoration: none;
    color: black;
  }
  

  @media screen and (max-width:800px){
   nav{
    display: none;
   }
  }